<BOUCLE_fiche(ARTICLES){id_article}>
<fiche fiche-id="#ID_ARTICLE">
    <titre>[(#TITRE|supprimer_numero|texte_backend)]</titre>
    [<soustitre>(#SOUSTITRE|texte_backend)</soustitre>]
    [<date>(#DATE|affdate{'Y-m-d'})</date>]
    <lang>#LANG</lang>
    <href>[(#URL_ARTICLE|url_absolue)]</href>
    <BOUCLE_geoloc(GIS){id_article}{si #PLUGIN{gis}}>
    <geoloc>
        <lat>#LAT</lat>
        <lon>#LON</lon>
    </geoloc>
    </BOUCLE_geoloc>
    [(#AUTEUR_SPIP|=={oui}|oui)[<complement>(#LESAUTEURS|supprimer_tags|texte_backend)</complement>]]
</fiche>
</BOUCLE_fiche>
