[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<BOUCLE_corpus(CORPUS){id_corpus}>
	<corpus corpus-name="#NAME">
		<corpus-metadata>
			<intitule-corpus>
				<BOUCLE_intitule_corpus(DATA){source tableau, #INTITULE_CORPUS|extraire_trads}{si #INTITULE_CORPUS==<multi>}>[
				<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
				]</BOUCLE_intitule_corpus>
				<lib xml:lang="#LANG">[(#INTITULE_CORPUS|texte_backend)]</lib>
				<//B_intitule_corpus>
			</intitule-corpus>
			<intitule-fiche>
				<BOUCLE_intitule_fiche(DATA){source tableau, #INTITULE_FICHE|extraire_trads}{si #INTITULE_FICHE==<multi>}>[
				<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
				]</BOUCLE_intitule_fiche>
				<lib xml:lang="#LANG">[(#INTITULE_FICHE|texte_backend)]</lib>
				<//B_intitule_fiche>
			</intitule-fiche>
			<B_intitule_champ_auteur>
			<complement-metadata>
				<BOUCLE_intitule_champ_auteur(DATA){source tableau, #INTITULE_CHAMP_AUTEUR|extraire_trads}{si #INTITULE_CHAMP_AUTEUR==<multi>}{si #AUTEUR_SPIP|=={oui}}>[
				<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
				]</BOUCLE_intitule_champ_auteur>
			</complement-metadata>
			</B_intitule_champ_auteur>
			[(#AUTEUR_SPIP|=={oui}|oui)<complement-metadata>
				<lib xml:lang="#LANG">[(#INTITULE_CHAMP_AUTEUR|texte_backend)]</lib>
			</complement-metadata>]
			<//B_intitule_champ_auteur>
		</corpus-metadata>
		[(#REM)
			On recupere tous les articles des rubriques et sous-rubriques du corpus
		]
		<BOUCLE_rubriques(RUBRIQUES){id_corpus}>
		<BOUCLE_fiches(ARTICLES){id_rubrique}>
		[(#REM) On vérifie que l'article n'est pas exclu de l'export]
		<BOUCLE_article_exclu(EXPORTSCRUTARI_ARTICLES_EXCLUS){id_article}{id_exportscrutari}> </BOUCLE_article_exclu>
		<INCLURE{fond=scrutari_export_fiche, id_article, auteur_spip} />
		<//B_article_exclu>
		</BOUCLE_fiches>
		</BOUCLE_rubriques>
	</corpus>
</BOUCLE_corpus>
