[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml version="1.0"[ encoding="(#CHARSET)"]?>
<BOUCLE_export(EXPORTSCRUTARI){id_exportscrutari}>
<base>
	<base-metadata>
		[(#REM)
			authority-uuid est un identifiant universel propre au producteur de base
			base-name est le nom technique de la base (en minuscules sans accent ni espace)
		]<authority-uuid>#AUTHORITY_UUID</authority-uuid>
		<base-name>#BASE_NAME</base-name>
		[(#REM)
			Definition des intitules courts et des intitules longs dans les differentes langues.
			Le titre ainsi que le descriptif du site peuvent etre renseignes dans les differents langues 
			grace aux balises multi
		]<intitule-short>
			<BOUCLE_intitule_short(DATA){source tableau, #INTITULE_SHORT|extraire_trads}{si #INTITULE_SHORT==<multi>}>[
			<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
			]</BOUCLE_intitule_short>
			<lib xml:lang="#LANG">[(#INTITULE_SHORT|texte_backend)]</lib>
			<//B_intitule_short>
		</intitule-short>
		<intitule-long>
			<BOUCLE_intitule_long(DATA){source tableau, #INTITULE_LONG|extraire_trads}{si #INTITULE_LONG==<multi>}>[
			<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
			]</BOUCLE_intitule_long>
			<lib xml:lang="#LANG">[(#INTITULE_LONG|texte_backend)]</lib>
			<//B_intitule_long>
		</intitule-long>
		<lang-ui>
			<BOUCLE_lang_ui(DATA){liste #CONFIG{langues_utilisees}}>
			<lang>#VALEUR</lang></BOUCLE_lang_ui>
		</lang-ui>
		[<base-icon>#URL_SITE_SPIP/(#ENV*{favicon}
			|sinon{#CHEMIN{favicon.ico}}
			|sinon{#LOGO_SITE_SPIP}
				|image_passe_partout{16,16}
				|image_recadre{16,16,center}
				|image_format{ico}|extraire_attribut{src})
		</base-icon>]
	</base-metadata>
</BOUCLE_export>
