[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml version="1.0"[ encoding="(#CHARSET)"]?>
<BOUCLE_export(EXPORTSCRUTARI){id_exportscrutari}>
<info>
	#SET{tab_corpus,#ARRAY{}}<BOUCLE_tab_corpus(spip_exportscrutari_liens){id_exportscrutari}{objet=corpus}>[(#SET{tab_corpus,[(#GET{tab_corpus}|push{#ID_OBJET})]})]</BOUCLE_tab_corpus><BOUCLE_date(RUBRIQUES){id_corpus IN #GET{tab_corpus}}{!par date}{0,1}>
	<date>[(#DATE|affdate{'Y-m-d'})]</date></BOUCLE_date>
	<scrutaridata-url>#URL_PAGE{scrutari_export_debut,id_exportscrutari=#ID_EXPORTSCRUTARI}</scrutaridata-url>
	<BOUCLE_corpus(DATA){source tableau, #GET{tab_corpus}}>
	<scrutaridata-url>#URL_PAGE{scrutari_export_corpus,id_corpus=#VALEUR}</scrutaridata-url></BOUCLE_corpus>
	<BOUCLE_thesaurus(spip_exportscrutari_liens){id_exportscrutari}{objet=thesaurus}>
	<scrutaridata-url>#URL_PAGE{scrutari_export_thesaurus,id_thesaurus=#ID_OBJET}</scrutaridata-url></BOUCLE_thesaurus>
	<BOUCLE_thesaurus_indexation(spip_exportscrutari_liens){id_exportscrutari}{objet=thesaurus}><BOUCLE_corpus_indexation(spip_exportscrutari_liens){id_exportscrutari}{objet=corpus}>
	<scrutaridata-url>[(#URL_PAGE{scrutari_export_indexation_debut}|parametre_url{id_thesaurus,#_thesaurus_indexation:ID_OBJET}|parametre_url{id_corpus,#_corpus_indexation:ID_OBJET})]</scrutaridata-url>
	#SET{tab_mots,#ARRAY{}}<BOUCLE_groupes(spip_thesaurus_liens){id_thesaurus=#_thesaurus_indexation:ID_OBJET}{objet=groupe}><BOUCLE_mots(MOTS){id_groupe=#ID_OBJET}>[(#SET{tab_mots,[(#GET{tab_mots}|push{#ID_MOT})]})]</BOUCLE_mots></BOUCLE_groupes>
	[(#SET{super_tableau,[(#GET{tab_mots}|array_chunk{20})]})]
    <BOUCLE_super(DATA){source tableau, #GET{super_tableau}}>
	<scrutaridata-url>[(#URL_PAGE{scrutari_export_indexation}|parametre_url{id_corpus,#_corpus_indexation:ID_OBJET}|parametre_url{tab_id_mot,#VALEUR})]</scrutaridata-url></BOUCLE_super>
	<scrutaridata-url>#URL_PAGE{scrutari_export_indexation_fin}</scrutaridata-url>
	</BOUCLE_corpus_indexation></BOUCLE_thesaurus_indexation>
	<scrutaridata-url>#URL_PAGE{scrutari_export_fin}</scrutaridata-url>
</info>
</BOUCLE_export>
