<div class="formulaire_spip formulaire_editer formulaire_editer_zone formulaire_editer_corpus-#ENV{id_corpus,nouveau}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type='hidden' name='id_corpus' value='#ID_CORPUS' />
	  	<div class="editer-groupe">
	    	<div class="editer editer_name obligatoire[ (#ENV**{erreurs}|table_valeur{name}|oui)erreur]">
	    		<label for="name"><:scrutariexport:nom_technique:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{name})</span>]
				<input type='text' class='text' name='name' id='name' value="#ENV{name}" />
            </div>
		
		    <div class="editer editer_intitule_corpus obligatoire[ (#ENV**{erreurs}|table_valeur{intitule_corpus}|oui)erreur]">
		    	<label for="intitule_corpus"><:scrutariexport:intitule_corpus:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{intitule_corpus})</span>]
				<input type='text' class='text' name='intitule_corpus' id='intitule_corpus' value="#ENV{intitule_corpus}" />
            </div>
		
		    <div class="editer editer_intitule_fiche obligatoire[ (#ENV**{erreurs}|table_valeur{intitule_fiche}|oui)erreur]">
		    	<label for="intitule_fiche"><:scrutariexport:intitule_fiche:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{intitule_fiche})</span>]
				<input type='text' class='text' name='intitule_fiche' id='intitule_fiche' value="#ENV{intitule_fiche}" />
            </div>
        </div>
        <div class="editer-groupe">
			<div class='editer editer_auteur_spip'>
                <div class="choix">
					<input type='checkbox' name='auteur_spip' value='oui' id='auteur_spip'[(#ENV{id_corpus}|!={oui}|oui)[ (#ENV{auteur_spip}|=={oui}|oui)checked="checked"]][ (#ENV{id_corpus}|=={oui}|oui)checked="checked"] />
	    			<label for='auteur_spip'><:scrutariexport:auteur_spip:></label>
                </div>
			</div>
			<div class='editer editer_intitule_champ_auteur'>
			   	<label for="intitule_champ_auteur"><:scrutariexport:intitule_champ_auteur:></label>
				<input type='text' class='text' name='intitule_champ_auteur' id='intitule_champ_auteur' value="#ENV{intitule_champ_auteur}" />
			</div>
        </div>
        <fieldset>
            <legend><:scrutariexport:rubriques_du_corpus:></legend>
            [(#INCLURE{fond=formulaires/inc-select_rubriques}{rubriques=#ENV{rubriques}})]
        </fieldset>
	    [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	    <!--extra-->
	    <p class='boutons'><input type='submit' class='submit' value='[(#ENV{id_corpus}|?{<:bouton_enregistrer:>,<:bouton_ajouter:>})]' /></p>
	</div></form>
	]
</div>
<script type="text/javascript">/*<![CDATA[*/
jQuery('.choix input').click(function(){
	if (this.checked) {
		jQuery(this).parent('.choix').parent('li').children('ul').find('input').attr('checked','checked');
	}
});
/*]]>*/</script>
