<BOUCLE_corpus(CORPUS){par name}>
<div class='choix'>
    <input type='checkbox' name='corpus[]' value='#ID_CORPUS' id='corp#ID_CORPUS' [(#ID_CORPUS|in_any{#ENV{corpus}})checked='checked']/>
    <label for='corp#ID_CORPUS'>#INTITULE_CORPUS</label>
</div>
</BOUCLE_corpus>