<B_groupes>
<ul class='hierarchie'>
<BOUCLE_groupes(GROUPES_MOTS){par titre}{tout}>
<li[(#ID_GROUPE|in_any{#ENV{groupes}})class='checked']>
	<div class='choix'><input type='checkbox' name='groupes[]' value='#ID_GROUPE' id='groupe#ID_GROUPE' [(#ID_GROUPE|in_any{#ENV{groupes}})checked='checked']/>
		<label for='groupe#ID_GROUPE'>#TITRE</label>
	</div>
</li>
</BOUCLE_groupes>
</ul>
</B_groupes>