[(#REM)
/**
 * Plugin Scrutari Export
 * Licence GPL (c) 2011 Coredem
 *
 */
]
<h1 class="grostitre"><:scrutariexport:liste_thesaurus:></h1>
<B_thesaurus>
<ul class='liste-items thesaurus'>
<BOUCLE_thesaurus(THESAURUS){par id_thesaurus}>
<li class='item'><h3><code>[#NAME]</code>[ – (#INTITULE_THESAURUS|typo)]</h3>
<span class='contenu'>[(#ID_THESAURUS|scrutariexport_liste_contenu_thesaurus_groupes|count) <:scrutariexport:groupes_thesaurus:> ]
</span>

[(#AUTORISER{administrer,scrutariexport})<div class='actions'>
	
	<span class='lien_supprimer'>[(#BOUTON_ACTION{<:scrutariexport:icone_supprimer_thesaurus:>,#URL_ACTION_AUTEUR{supprimer_thesaurus,#ID_THESAURUS,#SELF},ajax,<:scrutariexport:confirmer_supprimer_thesaurus:>})]</span>
	| <span class='lien_modifier'><a href='[(#URL_ECRIRE{scrutari_export_edit_thesaurus,id_thesaurus=#ID_THESAURUS}|parametre_url{redirect,#SELF})]'><:bouton_modifier:></a></span>
</div>]
</li>
</BOUCLE_thesaurus>
</ul>
</B_thesaurus>

[(#URL_ECRIRE{scrutari_export_edit_thesaurus,id_thesaurus=oui}|parametre_url{redirect,#SELF}|icone_verticale{<:scrutariexport:creer_thesaurus:>,thesaurus-24.png,new,right})]
