[(#REM)
/**
 * Plugin Scrutari Export
 * Licence GPL (c) 2011 Coredem
 *
 */
]
<h1 class="grostitre"><:scrutariexport:liste_corpus:></h1>
<B_corpus>
<ul class='liste-items corpus'>
<BOUCLE_corpus(CORPUS){par id_corpus}>
<li class='item'><h3><code>[#NAME]</code>[ – (#INTITULE_CORPUS|typo)]</h3>
<span class='contenu'>[(#ID_CORPUS|scrutariexport_liste_contenu_corpus_rub|count) <:scrutariexport:rubriques_corpus:> ]
</span>

[(#AUTORISER{administrer,scrutariexport})<div class='actions'>
	<span class='lien_supprimer'>[(#BOUTON_ACTION{<:scrutariexport:icone_supprimer_corpus:>,#URL_ACTION_AUTEUR{supprimer_corpus,#ID_CORPUS,#SELF},ajax,<:scrutariexport:confirmer_supprimer_corpus:>})]</span>
	| <span class='lien_modifier'><a href='[(#URL_ECRIRE{scrutari_export_edit_corpus,id_corpus=#ID_CORPUS}|parametre_url{redirect,#SELF})]'><:bouton_modifier:></a></span>
</div>]
</li>
</BOUCLE_corpus>
</ul>
</B_corpus>

[(#URL_ECRIRE{scrutari_export_edit_corpus,id_corpus=oui}|parametre_url{redirect,#SELF}|icone_verticale{<:scrutariexport:creer_corpus:>,corpus-24.png,new,right})]
