[(#REM)
/**
 * Plugin Acces Restreint 3.0 pour Spip 2.0
 * Licence GPL (c) 2006-2008 Cedric Morin
 *
 */
]<B_corpus>
[<p class="pagination">(#PAGINATION)</p>]
<ul class='liste_items liste_zones'>
	<BOUCLE_corpus(CORPUS){id_rubrique}{pagination 15}>
	<li class='item'>[(#ENV{editable})
	[(#AUTORISER{affectercorpus,rubrique,#ID_RUBRIQUE}|oui)
	<span class='actions'><a class='ajax' href='#URL_ACTION_AUTEUR{retirer_corpus,#ID_CORPUS|concat{'-rubrique-',#ID_RUBRIQUE},#SELF}'><img src='#EVAL{_DIR_IMG_PACK}croix-rouge.gif' alt='X' /> <:scrutariexport:info_retirer_corpus:></a></span>
	]
	]
	<a href="[(#URL_ECRIRE{scrutari_export_edit_corpus,id_corpus=#ID_CORPUS}|parametre_url{retour,#SELF})]">[(#INTITULE_CORPUS|typo)]</a>
	</li>
	</BOUCLE_corpus>
</ul>
</B_corpus>
<p><:scrutariexport:info_aucun_corpus:></p>
<//B_corpus>