<div class="navigation">
	<ul class="liste_items sous_navigation">
		<li class="item">
			<a href="#URL_ECRIRE{scrutari_exports}"><:scrutariexport:gerer_exports:></a>
		</li>
		<li class="item">
			<a href="#URL_ECRIRE{scrutari_export_corpus}"><:scrutariexport:gerer_corpus:></a>
		</li>
		<li class="item">
			<a href="#URL_ECRIRE{scrutari_export_thesaurus}"><:scrutariexport:gerer_thesaurus:></a>
		</li>
	</ul>
</div>
